# List comprehensions and Generator Expressions

## List comprehensions and Readibility

In [1]:
symbols = '$¢£¥€Ω'

In [2]:
codes = []

In [3]:
for symbol in symbols:
    codes.append(ord(symbol))

In [4]:
codes

[36, 162, 163, 165, 8364, 937]

In [5]:
codes = [ord(symbol) for symbol in symbols]

In [6]:
codes

[36, 162, 163, 165, 8364, 937]

## Listcomps Versus map and filter

In [ ]:
symbols = '$¢£¥€Ω'

In [7]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]

In [8]:
beyond_ascii

[162, 163, 165, 8364, 937]

In [9]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))

In [10]:
beyond_ascii

[162, 163, 165, 8364, 937]

In [14]:
list(filter(lambda c: c > 127, list(map(ord, symbols))))

[162, 163, 165, 8364, 937]

## Carsesian Products

In [1]:
colors = ['black', 'white']

In [2]:
sizes = ['S', 'M', 'L']

In [3]:
tshirts = [(color, size) for color in colors for size in sizes]

In [4]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [5]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [6]:
tshirts = [(color, size) for size in sizes for color in colors]

In [7]:
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

## Generator Expressions

In [11]:
symbols = '$¢£¥€' + chr(164)

In [12]:
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [13]:
import array

In [15]:
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [16]:
colors = ['black','white']

In [17]:
sizes = ['S','M','L']

In [21]:
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

# Tuples Are Not Just Immutable Lists

## Tuples as Records

In [22]:
lax_coordinates = (33.9425, -118.408056)

In [23]:
city, year, pop, chg, area = ('Tokyo',2003, 32450, 0.66, 8014)

In [24]:
traveler_ids = [('USA','31195855'), ('BRA', 'CE342567'),('ESP','XDA205856')]

In [25]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [27]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

## Tuple Unpacking

In [28]:
lax_coordinates = (33.9425, -118.408056)

In [29]:
latitude, longitude = lax_coordinates

In [30]:
latitude

33.9425

In [31]:
longitude

-118.408056

In [32]:
divmod(20,8)

(2, 4)

In [33]:
t = (20, 8)

In [34]:
divmod(*t)

(2, 4)

In [35]:
quotient, remainder = divmod(*t)

In [36]:
quotient, remainder

(2, 4)

In [37]:
import os

In [38]:
_, filename = os.path.split('C:/Users/langestrst01/.ssh/id_rsa.pub')

In [39]:
filename

'id_rsa.pub'

In [40]:
os.path.split('C:/Users/langestrst01/.ssh/id_rsa.pub')

('C:/Users/langestrst01/.ssh', 'id_rsa.pub')

In [41]:
a, b, *rest = range(5)

In [42]:
a, b, rest

(0, 1, [2, 3, 4])

In [46]:
a,b, *rest = range(3)

In [48]:
a, b, rest

(0, 1, [2])

In [49]:
a, b, *rest = range(2)

In [50]:
a, b, rest

(0, 1, [])

In [51]:
a, *body, c, d = range(5)

In [52]:
a, body, c, d

(0, [1, 2], 3, 4)

In [53]:
*head, b, c, d = range(5)

In [54]:
head, b, c, d

([0, 1], 2, 3, 4)

## Nested tuple Unpacking

In [80]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [81]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

## Named Tuples

In [82]:
from collections import namedtuple

In [83]:
City = namedtuple('City','name country population coordinates')

In [84]:
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [85]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [86]:
tokyo.population

36.933

In [87]:
tokyo.coordinates

(35.689722, 139.691667)

In [88]:
tokyo[1]

'JP'

In [89]:
City._fields

('name', 'country', 'population', 'coordinates')

In [90]:
LatLong = namedtuple('LatLong', 'lat long')

In [91]:
delhi_data = ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))

In [92]:
delhi = City._make(delhi_data)

In [93]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', (28.613889, 77.208889))])

In [97]:
for key, value in delhi._asdict().items():
    print(key + ':',value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: (28.613889, 77.208889)

In [95]:
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=(28.613889, 77.208889))

## Tuples as Immutable Lists